<html>
    <head>
        <title> Hack Now! </title>
        <script src = 'https://cdn.tailwindcss.com/'></script>
    </head>

    <body class='bg-gray-800'>

        </div>
        <div class='text-white'>
            {% if message or error %}
                <div class="w-full">
                    <div class="coding inverse-toggle px-5 pt-4  text-gray-100 text-sm font-mono subpixel-antialiased 
                                bg-gray-900  pb-6 pt-4 rounded-lg leading-normal overflow-hidden">
                        <div class="top mb-2 flex">
                            <div class="h-5 w-5 bg-red-500 rounded-full"></div>
                            <div class="ml-2 h-5 w-5 bg-orange-300 rounded-full"></div>
                            <div class="ml-2 h-5 w-5 bg-green-500 rounded-full"></div>
                        </div>
                        <div class="mt-4">
                            {% if message %}
                            <span class="text-green-400 text-2xl">puzzle:answer$ </span>
                            <span class="text-2xl font-mono flex-1">
                                {{ message }}
                            </span>

                            {% else %}
                            <span class="text-green-400 text-2xl">puzzle:answer$ </span>
                            <span class="text-2xl font-mono flex-1">
                                {{ error }}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a href='/' class= 'flex text-xl mx-[10%] mt-[2%]'>
                    <svg class='my-auto' fill="#FFFFFF" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 330 330" xml:space="preserve">
            <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                C255,161.018,253.42,157.202,250.606,154.389z"/>
                    </svg>
                    <span class='ml-3 hover:text-orange-700'>Return to the questions page</span>
                </a>
            {% endif %}
        </div>

        {% if username %}
        <div class="w-full">
            <div class="coding inverse-toggle px-5 pt-4  text-gray-100 text-sm font-mono subpixel-antialiased 
            bg-gray-900  pb-6 pt-4 rounded-lg leading-normal overflow-hidden">
                <div class="top mb-2 flex">
                    <div class="h-5 w-5 bg-red-500 rounded-full"></div>
                    <div class="ml-2 h-5 w-5 bg-orange-300 rounded-full"></div>
                    <div class="ml-2 h-5 w-5 bg-green-500 rounded-full"></div>
                </div>
                <div class="mt-4">
                    <span class="text-green-400 text-2xl">puzzle:answer$ </span>
                    <span class="text-2xl font-mono flex-1">
                        welcome <span class='text-yellow-300'>{{username}} </span>
                    </span>
                    <br>
                    <span class="text-green-400 text-2xl">puzzle:answer$ </span>
                    <span class="text-2xl font-mono flex-1">
                        number of accepted answers: <span class='text-green-500'>{{score}}</span>
                    </span>
                    <br>
                    <span class="text-green-400 text-2xl">puzzle:answer$ </span>
                    <span class="text-2xl font-mono flex-1">
                        {{count}} questions found
                    </span>
                </div>
            </div>

            <a href='/logout/' class= 'flex text-xl mx-[10%] mt-[2%]'>
                <svg class='my-auto' fill="#FFFFFF" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 330 330" xml:space="preserve">
        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
            c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
            C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
            C255,161.018,253.42,157.202,250.606,154.389z"/>
        </svg>
        <span class='ml-3 text-white hover:text-orange-700 my-3'>Logout</span>
    </a>
            {% endif %}
            
            
</div>
{% if questions  %}
<div class='grid grid-cols-2 mx-[10%] my-[5%] border-0'>
            {% for x in questions %}
            <div class='w-[60%] py-[5%] border-0 mx-auto'>
                <div class="relative flex flex-col justify-center border-0">
                <a href="question/{{x.question_number}}/"> 
                        <!-- card -->
                        <div class="mx-auto flex w-full flex-col justify-center hover:bg-green-200 bg-white rounded-2xl shadow-xl shadow-slate-300/60">
                        <!-- img -->
                        <img class="aspect-video w-full rounded-t-2xl object-cover object-center" src={{x.imgpath}} />
                        <!-- text information -->
                            <div class="p-4">
                            <small class="text-blue-400 text-xs">Puzzle #{{ x.question_number }}</small>
                            <h1 class="text-2xl font-medium text-slate-600 pb-2">{{x.name}}</h1>
                            <p class="text-sm tracking-tight font-light text-slate-400 leading-6">Attempt now 🠒</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            </div>
    {% endif %}
    {% if not username and not message and not error %}
    <div class="w-full">
        <div class="coding inverse-toggle px-5 pt-4  text-gray-100 text-sm font-mono subpixel-antialiased 
                    bg-gray-900  pb-6 pt-4 rounded-lg leading-normal overflow-hidden">
            <div class="top mb-2 flex">
                <div class="h-5 w-5 bg-red-500 rounded-full"></div>
                <div class="ml-2 h-5 w-5 bg-orange-300 rounded-full"></div>
                <div class="ml-2 h-5 w-5 bg-green-500 rounded-full"></div>
            </div>
            <div class="mt-4 flex">
                <span class="text-green-400 text-2xl">puzzle:answer$</span>
                <span class="text-2xl pl-3"> questions not found. error: did you not log in?</span>
            </div>
        </div>
    </div>
    <a href='/login/' class= 'flex text-xl mx-[10%] mt-[2%]'>
        <svg class='my-auto' fill="#FFFFFF" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 330 330" xml:space="preserve">
        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
        c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
        C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
        C255,161.018,253.42,157.202,250.606,154.389z"/>
    </svg>
    <span class='ml-3 text-white hover:text-orange-700'>Login</span>
</a>
{% endif %}
    </body>

    <footer class='fixed right-5 bottom-3 text-white font-mono'>
        Website by PC, The Prog. Club IITI
    </footer>
</html>