<html>
    <head>
        <title> Login </title>
        <script src = 'https://cdn.tailwindcss.com/'></script>
    </head>

    <body class='bg-gray-800'>
        <div class="w-full">
            <div class="coding inverse-toggle px-5 pt-4  text-gray-100 text-sm font-mono subpixel-antialiased 
                        bg-gray-900  pb-6 pt-4 rounded-lg leading-normal overflow-hidden">
                <div class="top mb-2 flex">
                    <div class="h-5 w-5 bg-red-500 rounded-full"></div>
                    <div class="ml-2 h-5 w-5 bg-orange-300 rounded-full"></div>
                    <div class="ml-2 h-5 w-5 bg-green-500 rounded-full"></div>
                </div>
                <div class="mt-4">
                    <span class="text-green-400 text-2xl">puzzle:answer$ </span>
                    <span class="text-2xl font-mono bg-gray-900 focus:outline-none flex-1 typing  ">
                        user login prompt
                    </span>
                    <br>
                    {% if error %}
                        <span class="text-green-400 text-2xl">puzzle:answer$ </span>
                        <span class="text-2xl font-mono bg-gray-900 focus:outline-none flex-1 typing  ">
                            error: user could not be authenticated
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center my-[5%] dark">
            <div class="w-full max-w-md bg-gray-800 rounded-lg shadow-md p-6">
                <h2 class="text-2xl font-bold text-gray-200 mb-4">Login</h2>
            <form class="flex flex-col" method = "POST" action='/login/'>
                {% csrf_token %}
                <input name='username' placeholder="Username" class="bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" type="text">
                <input name='password' placeholder="Password" class="bg-gray-700 text-gray-200 border-0 rounded-md p-2 mb-4 focus:bg-gray-600 focus:outline-none focus:ring-1 focus:ring-blue-500 transition ease-in-out duration-150" type="password">
                <div class="flex items-center justify-between flex-wrap">
                    <p class="text-white mt-4"> Don't have an account? <a class="text-sm text-blue-500 -200 hover:underline mt-4" href="/signup/">Sign Up</a></p>
                </div>
                <button class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150" type="submit">Proceed</button>
            </form> 
            </div>
        </div>
        </body>
        <footer class='fixed right-5 bottom-3 text-white font-mono'>
            Website by PC, The Prog. Club IITI
        </footer>
</html>